@tailwind base;
@tailwind components;
@tailwind utilities;

/* represent <html/> element tag */
:root {
  --primary: #00b3ba;
  --secondary: #006b9e;
  --gradient: #8acec8;
}

html,
body {
  height: 100%; /* Ensure full height & width for these elements */
  width: 100%;
}

body {
  background-color: rgba(0, 179, 186, 0.1);
  background-repeat: no-repeat;
  color: black;
}

main {
  height: 100%;
  width: 100%;
}

.no-scrollbar {
  /* Hide scrollbar in WebKit-based browsers (Chrome, Safari) */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

@layer utilities {
  h1 {
    @apply text-secondary text-2xl font-extrabold;
  }

  h2 {
    @apply text-gray-700 text-sm;
  }

  p {
    @apply text-gray-500 text-xs leading-5;
  }

  .border {
    @apply border-solid border-[1px] border-gray-300;
  }

  .btn {
    @apply px-12 py-2.5 rounded-full text-white;
  }

  .count-dec {
    @apply min-w-[25px] min-h-[5px] rounded-full font-bold text-secondary border-2 border-secondary;
  }

  .count-inc {
    @apply min-w-[25px] min-h-[5px] rounded-full font-bold text-primary border-2 border-primary;
  }

  .btn-primary {
    @apply bg-primary;
  }

  .btn-secondary {
    @apply bg-secondary;
  }
}
